<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Please enter the following details to generate quote</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("GenerateQuote", "Home", FormMethod.Post))
            {
            <div class="row no-gutters">
                <div class="form-group col-md-12">
                    <input name="FirstName" type="text" class="form-control" placeholder="First Name" />
                </div>
                <div class="form-group col-md-12">
                    <input name="LastName" type="text" class="form-control" placeholder="Last Name" />
                </div>
                <div class="form-group col-md-12">
                    <input name="EmailAddress" type="email" class="form-control" placeholder="Email Address" />
                </div>
                <div class="form-group col-md-12">
                    <input name="DateOfBirth" type="date" class="form-control" placeholder="Date of Birth" />
                </div>
                <div class="form-group col-md-12">
                    <input name="CarYear" type="number" class="form-control" placeholder="Car Year" />
                </div>
                <div class="form-group col-md-12">
                    <input name="CarMake" type="text" class="form-control" placeholder="Car Make" />
                </div>
                <div class="form-group col-md-12">
                    <input name="CarModel" type="text" class="form-control" placeholder="Car Model" />
                </div>
                <div class="form-group custom-control custom-checkbox">
                    <input id="dui" name="DUI" type="checkbox" value="true">
                    <label>Have you had a DUI?</label>
                </div>
                <div class="form-group col-md-12">
                    <input name="Tickets" type="number" class="form-control" placeholder="How Many Speeding Tickets" />
                </div>
                <div class="form-group custom-control custom-checkbox">
                    <input name="Cover" type="checkbox" id="cover" value="true">
                    <label>Do you want Full Cover? (Unchecked will be Liability only)</label>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Submit</button>
            </div>
            }
        </div>
    </div>
</div>